{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<a name="top"></a>
<div class="android-be-together-section mdl-typography--text-center" style="background: url({% static 'landingsite/images/slide01.jpg' %})
center 30% no-repeat;height:330px;">
  <div class="android-font android-slogan">Code for Everyone</div>
  <div class="android-font android-sub-slogan">About us</div>
  <div class="android-font android-create-character">
    <a href=""><img src="{% static 'landingsite/images/andy.png' %}" style="color:#ffffff;"></a>
  </div>
</div>
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--12-col">
  </div>
  <div class="mdl-cell mdl-cell--3-col">
    <div>
    <h5 class="center-align">About</h5>
    <ul>
      <li>Code for Everyone</li>
      <li>Our team</li>
      <li>Press</li>
     </ul>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--8-col">
    <div>
    <h5 class="center-align">Code for Everyone</h5>
    </div>
    <p>Code for Everyone is a programming community whose members vary in programming knowledge and ability from absolute beginners to professional programmers, but all share a common interest: code. We are based in Seoul, South Korea but our community has no borders. Our goals are to: </p>

        <h5>Educate and Connect</h5>

      <p>We aim to educate and connect motivated members of the local community. Our philosophy is to learn by doing and master by teaching. This model of learning not only benefits and empowers the learner but also gives back to and helps build the community. We have regular biweekly meetups that include short lessons on a variety of IT topics and some time for self-study where members are always available to help get each-other unstuck.</p>
        <h5>Inspire and Share</h5>

      <p>We believe in inspiring people with open education and sharing knowledge. Besides organizing the occasional event, workshop or hackathon we also like to collaborate with other organizations and share our experience by giving short presentations at other events.</p>

      <h5>Help Non-profits</h5>

      <p>Learning by doing and giving back to the community are both pillars of our community. This is why we enjoy helping both local and global non-profits with their IT needs. These projects not only give members assisted practice with a concrete goal that can build their portfolio, but also help communities and organizations that need it most. </p>

      <p> If your non-profit organization is in need of our services please visit the <a href="/contact-us">Contact us</a> page.</p>

  </div>
  </div>

{% endblock content %}

