{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

        <a name="top"></a>
        <div class="android-be-together-section mdl-typography--text-center" style="background: url({% static 'landingsite/images/slide01.jpg' %})
        center 30% no-repeat;height:330px;">
          <div class="android-font android-slogan">Get in touch</div>
          <div class="android-font android-sub-slogan"></div>

          <a href="#name">
            <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
              <i class="material-icons">expand_more</i>
            </button>
          </a>
        </div><br><br>
        <form action="{% url 'landingsite:contact' %}" method="post" >
          {% csrf_token %}
        <div class="mdl-grid">

          <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--2-col-phone">
          </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--7-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="full_name" name="full_name" required/>
              <label class="mdl-textfield__label" for="full_name">Name</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--2-col-phone">
          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="email" name="email" required/>
              <label class="mdl-textfield__label" for="email">Email Address</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--2-col-phone">
          </div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--2-col-phone">
          </div>
          <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="2" id="message"></textarea>
            <label class="mdl-textfield__label" for="message">Message</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--2-col-phone">
          </div>
        </div>
        
      <!-- <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="messagetext" name"messagetext" ></input>
              <label class="mdl-textfield__label" for="messagetext">Message</label>
            </div>
          </div> <br>
        </div> -->
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--7-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
          </div>
          <div class="mdl-cell mdl-cell--1-col mdl-cell--5-col-tablet mdl-cell--5-col-phone">
          </div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          Send
        </button>
      </div>
      </form>

{% endblock content %}
