{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<a name="top"></a>
<div class="android-be-together-section mdl-typography--text-center" style="background: url({% static 'landingsite/images/slide01.jpg' %})
center 30% no-repeat;height:330px;">
  <div class="android-font android-slogan">Thanks for getting in touch</div>
  <div class="android-font android-sub-slogan">We will get back to you shortly</div>
  <div class="android-font android-create-character">
    <a href=""><img src="{% static 'landingsite/images/andy.png' %}" style="color:#ffffff;"></a>
  </div>
</div>

{% endblock content %}
