{% extends "base.html" %}
{% load staticfiles %}
{% load form_tags %}

{% block content %}
<div class="text-center titlebackground" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({% static 'landingsite/images/slide01.jpg' %})
        center 30% no-repeat;height:400px; ">
        <div class="row titlerow">
          <div class="col-md-12 text-center">
          <h1 class="text-white"><strong>Welcome back!</strong></h1>

          </div>
        </div>
       </div>
    <div class="mdl-grid login">
      <div class="mdl-cell mdl-cell--4-col"></div>
      <div class="mdl-cell mdl-cell--4-col">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                <label  for="{{field.id_for_label}}">{{ field.label }}</label>
                {{ field|addcss:"form-control" }}
              </div>
              {{ field.errors }}
            {% endfor %}
            <input type="hidden" name="next" value="{% url 'landingsite:index' %}" />
            <div>
              <button class="btn btn-default" type="submit">
                Login
              </button>
            </div>
        </form>
      </div>
      <div class="mdl-cell mdl-cell--4-col"></div>
    </div>


{% endblock content %}
