{% extends "base.html" %}
{% load staticfiles %}
{% load form_tags %}

{% block content %}
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col"></div>
      <div class="mdl-cell mdl-cell--4-col">
        <h2>Register</h2>
        {% if form.errors %}
        <p>Fix below issues and try again.</p>
        {% endif %}
        <form method="post" action="{% url 'accounts:register' %}">
            {% csrf_token %}
            {% for field in form %}
              <div class="mdl-textfield mdl-js-textfield">
                {{ field|addcss:"mdl-textfield__input" }}
                <label class="mdl-textfield__label" for="{{field.id_for_label}}">{{ field.label }}</label>
                {{ field.errors }}
              </div>
            {% endfor %}
            <div>
              <input type="hidden" name="next" value="{% url 'landingsite:index' %}" />
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
                Submit
              </button>
            </div>
        </form>
      </div>
      <div class="mdl-cell mdl-cell--4-col"></div>
    </div>


{% endblock content %}
