#calendar {
  padding-top:50px;
  padding-bottom:50px;
  color:black;
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: black;
}

.titlerow {
  padding-top: 200px;
}
.titlebackground {
   display: table;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
  background-position: center top;
  height: 350px;
  /*color: white;*/
}
.myeventscontainer {
  min-height: 300px;
  padding-top:30px;
}
.myeventlist{
  width:70%;
}
.fc-day {
  border-color:black;
}
.hackimg {
  max-height: 300px;
}
.demo-card-event.mdl-card {
  width: 236px;
  height: 256px;
  background: #3E4EB8;
  margin: 10px;
}

.demo-card-event.mdl-card:nth-child(2n){
  background: rgba(88, 110, 255, 1);
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
  display: block;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
