.center-align {
    text-align: center;
}

.right {
    float: right;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.location {
  padding-top: 65px;
}

.eventcontainer {
	padding-bottom: 50px;
	padding-top: 50px;
	min-height: 300px;
}
.titlerow {
  padding-top: 200px;
}
.titlebackground {
  display: table;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
  background-position: center top;
  height: 350px;
  /*color: white;*/
}
.bigfont {
    font-size: 50px;
    line-height: 55px;
}
