{% extends "base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'rsvp/css/event_detail.css'%}">
{% endblock css %}

{% block content %}

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col center-align">
  <h2>{{ event.title }}</h2>
</div>
  <div class="mdl-cell mdl-cell--2-col">
  </div>
  <div class="mdl-cell mdl-cell--8-col">
    <div class="center-align">
      <p>{{ event.notes|markdown_safe }}</p>
      <p>{{ event.start_time }} to {{ event.end_time }}</p>
      <div>
        <i class="material-icons md-48">people_outline</i>
        <p>Spaces Left: <span class="spaces-left">{{ spaces_left }}</span>/{{ event.capacity }}</p>
      </div>
    </div>
    {% if request.user.is_authenticated %}
      {% if not rsvp %}
        <button class="rsvp-submit right mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-event-id="{{ event.id }}">RSVP</button>
      {% elif rsvp and not rsvp.first.attending %}
        <button class="rsvp-submit right mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-event-id="{{ event.id }}">RSVP</button>
      {% elif rsvp and rsvp.first.attending %}
        <button class="rsvp-submit right mdl-button mdl-js-button mdl-button--raised" data-event-id="{{ event.id }}">Un-rsvp<img class='loading hidden' src="{% static 'rsvp/loading.gif' %}" alt=""></button>
      {% endif %}
      {% if event.location %}
      <div class="location"><p>{{ event.location|safe }}</p>
    </div>
      {% endif %}
  </div>

      <div class="mdl-cell mdl-cell--2-col">
      {% if rsvp %}
      <table class="mdl-data-table mdl-js-data-table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">RSVP List</th>
          </tr>
        </thead>
        <tbody>
          {% for rsvp in rsvplist %}
          <tr>
            <td class="mdl-data-table__cell--non-numeric">{{rsvp.user.username}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    {% endif %}

  </div>
  </div>


<script type="text/javascript">
  $(document).ready(function(){
    $(".rsvp-submit").on('click', function(){
      var $this = $(this);
      $this.prop("disabled", true)
      $.post("{% url 'rsvp:event_signup' event.id %}").done(function(data){
        $this.prop("disabled", false)
        console.log(['done', data]);
        $this.toggleClass('mdl-button--colored');
        var spacesLeft = parseInt($('.spaces-left').text());
        $('.spaces-left').html($this.text() == 'RSVP' ? spacesLeft - 1: spacesLeft + 1);
        $this.html($this.text() == 'RSVP' ? 'un-RSVP' : 'RSVP');
      }).fail(function(data){
        alert('Something went wrong. Please try again later.');
      })

    })
  })

</script>

{% endblock content %}
