{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'rsvp/css/event_list.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'rsvp/lib/fullcalendar.min.css'%}">
{% endblock css %}

{% block content %}

        <div class="text-center titlebackground" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url({% static 'landingsite/images/slide03.jpg' %})
        center 30% no-repeat;height:400px; ">
        <div class="row titlerow">
        <div class="col-md-12">
          <h1 class="text-white"><strong> My Events</strong></h1>

          </div>
          </div>

        </div>
        <div class="container myeventscontainer">

          <div class="col-md-12">
          <div class="myeventslist">
          {% if rsvps %}
            {% for rsvp in rsvps %}
              {% if request.user.is_authenticated %}
              <ul>
              <li>
                <a href="{% url 'rsvp:event_detail' rsvp.event.slug %}">

                <h3>{{ rsvp.event.title}}</h3>
                 <h4><span class="">{{ rsvp.event.start_time|date:"D d M"}}</span></h4>
              </a>
              </li>
            </ul>
            {% endif %}
            {% endfor %}
        {% else %}
        <h2>No RSVPs yet</h2>
        {% endif %}
        </div>
          </div>
        </div>


{% endblock content %}
